<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
</head>
<style>
    .box0 {
    width: 50px;
    height: 50px;
    background-color: {{color1}};
}

.box1 {
    width: 50px;
    height: 50px;
    background-color: {{color2}};
}
</style>
<body>

<table>
{% for i in range(height): %}
    <tr>
        {% for j in range(width): %}
        <td class="box{{(i+j) % 2}}"></td>
        {% endfor %}
    </tr>
{% endfor %}
</table>

</body>
</html>